<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gu.dao.mapper.UserMapper">
	<sql id="userColumns">
		id as id,
		account as account,
		password as password,
		username as username,
		create_time as createTime
	</sql>

	<select id="queryExsitUser" parameterType="User" resultType="User">
		select <include refid="userColumns"/>
		from sys_user
		where account = #{account} and password=#{password}
	</select>
	
	 <select id="queryList"  resultType="User">
    	select
			id,
			account,
			create_time createTime,
			password,
			address,
			mobile,
			is_delete isDelete,
			username
		FROM
			sys_user
		order by create_time
    </select>
    
    
    <select id="queryListWithPage" parameterType="Params"  resultType="User">
    	select
			id,
			account,
			create_time createTime,
			password,
			address,
			mobile,
			sex,
			is_delete isDelete,
			username
		FROM
			sys_user
		<trim prefix="WHERE" prefixOverrides="AND | OR">  
			<if test="account !=null and account !='' ">
				username like concat('%', #{account}, '%')
			</if>
			<if test="mobile !=null and mobile !='' ">
				mobile like concat('%', #{mobile}, '%')
			</if>
			<if test="sex !=null and sex !='' ">
				sex = #{sex}
			</if>
		</trim>
		order by ${order}
		limit #{pageNo},#{pageSize};	
    </select>
    
    <select id="count" parameterType="Params"  resultType="int">
    	select
			count(1)
		FROM
			sys_user
		<trim prefix="WHERE" prefixOverrides="AND | OR">  
			<if test="account !=null and account !='' ">
				username like concat('%', #{account}, '%')
			</if>
			<if test="mobile !=null and mobile !='' ">
				mobile like concat('%', #{mobile}, '%')
			</if>
			<if test="sex !=null and sex !='' ">
				sex = #{sex}
			</if>
		</trim>
    </select>
    
    <select id="queryListPageInfo"  resultType="User">
    	select
			id,
			account,
			create_time createTime,
			password,
			address,
			sex,
			mobile,
			is_delete isDelete,
			username
		FROM
			sys_user
		order by create_time
    </select>
    
    
</mapper>